* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #483dbf; 
    border-radius: 5px;
}

.container {
    width: 95%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}

.column{
    height: 700px;
    margin-top: 30px;
    border-radius: 20px;
    width: 48%;
    display: inline-block;
}

.column1{
    background-color:#d1a8db ;
    border: 2px rgb(92, 35, 120) solid;
    color: rgb(0, 0, 0);
}

.column2{
    margin-left: 20px;
    background-color: rgb(130, 174, 200);
    border: 2px rgb(42, 56, 133) solid;
    text-align: left;
    overflow-y: scroll;
}

h1{
    margin-top: 55px;
    text-align: center;
}

td{
    text-align: left;
}

table{
    width: 75%;
    font-size: 16px;
    margin-left: 5%;
    margin-top: 75px;
    margin-bottom: 20px;
}

.a{
    width: 55%;
}

.b{
    margin-top: 25px;
    margin-bottom: 20px;
}

.c{
    height: 50px;
}

.d{
    height: 40px;
    width: 300px;
    border-radius: 7px;
    border: 0;
}

.e{
    width: 70%;
    height: 50px;
    margin-left: 10%;
    border-radius: 7px;
    background-color: rgb(103, 61, 217);
    border: 2px rgb(75, 24, 127) solid;
    font-size: 16px;
    cursor: pointer;
}

.f,.g{
    margin-left: 5px;
    margin-right: 3px;
}

.h{
    height: 60px;
    margin-bottom: 5px;
}

.r{
    background-color: rgb(187, 83, 146);
    border: 2px rgb(167, 32, 113) solid;
}

p{
    margin-bottom: 3px;
}

.s1{
    background-color: rgba(184, 237, 250, 0.864);
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
}

span{
    margin-right: 15px;
}

img{
    padding: 10px;
    margin-left: 70px;
    width: 100px;
    height: 100px;
}

input{
    text-align: center;
}
